<h1 id='title'><%= @shelter.name %></h1>

<section id='address'>
  <p>Address: <%= @shelter.address %></p>
  <p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
</section>

<a href="/shelters/<%= @shelter.id %>/edit"><p>Update Shelter</p></a>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete -%>
