<h1>All Pets</h1>
<section class="pets_list">
  <% @pets.each do |pet| %>
    <section id="pet_list_item_<%= pet.id %>">
      <div class="pet_img">
        <%= image_tag pet.image_url, size: "100x100"%>
      </div>
      <div class="pet_info">
        <a href="/pets/<%= pet.id %>"><p><%= pet.name %></p></a>
        <p><%= pet.description %></p>
        <p><%= pet.approximate_age %></p>
        <p><%= pet.sex %></p>
        <p>Current Shelter: <a href="/shelters/<%= pet.shelter.id %>"><%= pet.shelter.name %></a></p>
      </div>
      <div class="pet_crud_links">
        <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %>
        <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
      </div>
    </section>
  <% end %>
</section>
